/******************TAG SELECTORS************/
body {
  background-color: #fffaf0;
}
h1 {
  color: #b22222;

}
hr {
  border-style: dashed;
  border-width: 1px;
  width: 60%;
}


/*****************CLASS SELECTORS***********/
.top-HR {
  width: 80%;
}
.bottom-HR {
  border-style: dotted;
  border-width: 3px;
  color: #8b0000;
}



/******************ID SELECTORS*************/
#chip-pic {
  width: 450px;
}
